*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
main {
  display: flex;
  flex: 1;
  margin: 2rem;
  gap: 1rem;
  
}
.col-20 {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 1rem;
  gap: 1rem;
  margin: .5rem;
  line-height: 1.4;
}

.toggleBtn{
  display: none;
}



.col-20 h4{
  font-size: 0.8rem;
}
.col-20 h2{
  margin-left: -0.5rem;
}
.col-80 {
  flex: 0 0 80%;
  background-color: #e6e6e6;
  padding: 1rem;
}

.skills h4{
  display: inline;
}

a{
  text-decoration: none;
  color: black;
}

@media (max-width: 720px) {
  .col-20 {
    /* ... */
    display: none; /* show when screen is smaller than 720px */
    position: fixed;
    top: 0;
    left: -20%; /* start off screen */
    transition: left 0.5s; /* animate transition */
  }

  .col-20.show {
    left: 0; /* show when .show class is added */
  }

  .toggleBtn {
    /* ... */
    display: block;
    width: 25px;
    height: 25px;
    background-color: #f2f2f2;
  }

  .col-80 {
    /* ... */
    margin-left: 0; /* move col-80 to the right */
    width: 100%; /* full width */
  }
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
  }
}
